<div class="tabs-menu-container">
  <ul>
    <li>
      <i class="bi bi-person"></i>
      Profile
    </li>
    <li>
      <i class="bi bi-wallet2"></i>
      My Balance
    </li>
    <li>
      <i class="bi bi-envelope"></i>
      Inbox
    </li>
    <li>
      <i class="bi bi-gear"></i>
      Settings
    </li>
    <li >
      <i class="bi bi-check-circle text-success"></i>
      Available
    </li>
    <li class="logout">
      <i class="bi bi-box-arrow-right"></i>
      Log Out
    </li>
  </ul>
</div>

