<header class="header">
  <div class="col-6 text-center">
    <a class="text-decoration-none d-block" rel="noopener" href="">
      <img style="max-width: 115px" src="/logo.svg" alt="logo">
    </a>
  </div>
  <nav class="nav-container">
    <a href="">Inicio</a>
    <a routerLink="tienda">Tienda</a>
    <a class="cart-icon"><i class="bi bi-cart"></i></a>
    <button type="button" class="btn-login" routerLink="app/control-panel">
      <i class="bi bi-person"></i> Iniciar sesión
    </button>
  </nav>
</header>
