<div class="tabs-grid-container">
  <ul>
    <li>
      <i class="bi bi-calendar text-primary"></i>
      <span>Calendar</span>
    </li>
    <li>
      <i class="bi bi-envelope text-success"></i>
      <span>E-Mail</span>
    </li>
    <li>
      <i class="bi bi-cloud text-danger"></i>
      <span>Weather</span>
    </li>
    <li>
      <i class="bi bi-person text-secondary"></i>
      <span>Contact</span>
    </li>
    <li>
      <i class="bi bi-chat text-warning"></i>
      <span>Chat</span>
    </li>
    <li>
      <i class="bi bi-map text-danger"></i>
      <span>Map</span>
    </li>
    <li class="more">
      <i class="bi bi-three-dots"></i>
      <span>More</span>
    </li>
  </ul>
</div>
