<div class="product-container">
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products" (click)="openProductModal(product)">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="Imagen del producto">
      </div>
      <div class="product-info">
        <h3 (click)="openProductModal(product)">{{ product.name }}</h3>
        <p class="product-description" (click)="openProductModal(product)">
          {{ product.description.length > 10 ? (product.description | slice:0:10) + '...' : product.description }}
        </p>
        <span class="price" (click)="openProductModal(product)">${{ product.price }}</span>
      </div>
      <button class="btn-add-cart" (click)="addToCart(product); $event.stopPropagation();">
        <i class="bi bi-cart-plus"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal de información del producto -->
<div *ngIf="showProductModal" class="modal-overlay" (click)="closeProductModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <i class="bi bi-bookmark-x-fill icon-cancel" (click)="closeProductModal()"></i>
    <h2>Información del Producto</h2>

    <div class="modal-info">
      <label>Nombre:</label>
      <input type="text" [value]="selectedProduct?.name" class="input-edit" readonly>

      <label>Descripción:</label>
      <textarea class="input-edit" readonly>{{ selectedProduct?.description }}</textarea>

      <label>Precio:</label>
      <input type="text" [value]="'$' + (selectedProduct?.price || 0)" class="input-edit" readonly>

      <label>Imagen del Producto:</label>
      <img *ngIf="selectedProduct?.imageUrl" [src]="selectedProduct?.imageUrl" alt="Vista previa de imagen" class="image-preview">
    </div>
  </div>
</div>
<app-footer></app-footer>
