<div class="profile-container container-fluid">
  <div class="row">
    <!-- Sección de Imagen y Nombre -->
    <div class="col-md-2 text-center profile-picture-section">
      <div class="profile-picture-wrapper">
        <div class="profile-picture">
          <img [src]="profileImage" alt="Foto de perfil" id="profile-img">
        </div>

        <!-- Botón ahora está a la derecha de la imagen -->
        <button class="edit-btn" (click)="triggerFileInput()">
          <i class="bi bi-camera"></i>
        </button>
      </div>

      <input type="file" id="file-input" (change)="uploadImage($event)" accept="image/*" hidden>

      <h2>
        <input type="text" [(ngModel)]="editedName" class="form-control input-edit">
      </h2>
      <p class="role">
        <input type="text" [(ngModel)]="editedRole" class="form-control input-edit">
      </p>
    </div>

    <!-- Sección de Información -->
    <div class="col-md-8 profile-info-section">
      <h3>Información Personal</h3>
      <div class="row">
        <div class="col-sm-6 info-group">
          <i class="bi bi-envelope"></i>
          <span>Email:</span>
          <input type="email" [(ngModel)]="editedEmail" class="form-control input-edit">
        </div>
        <div class="col-sm-6 info-group">
          <i class="bi bi-phone"></i>
          <span>Teléfono:</span>
          <input type="tel" [(ngModel)]="editedPhone" class="form-control input-edit">
        </div>
        <div class="col-sm-6 info-group">
          <i class="bi bi-geo-alt"></i>
          <span>Ubicación:</span>
          <input type="text" [(ngModel)]="editedLocation" class="form-control input-edit">
        </div>
        <div class="col-sm-6 info-group">
          <i class="bi bi-calendar"></i>
          <span>Fecha de Nacimiento:</span>
          <input type="date" [(ngModel)]="editedBirthdate" class="form-control input-edit">
        </div>
      </div>

      <div class="profile-actions d-flex align-items-center justify-content-start mt-3">
        <button class="btn btn-success me-3" (click)="saveChanges()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
