<div class="profile-container">
  <h2>Perfil de Usuario</h2>

  <div class="profile-card">
    <p><strong>Usuario:</strong> {{ userData.username }}</p>
    <p><strong>Rol:</strong> {{ userData.role }}</p>
    <p><strong>Nombre:</strong> {{ userData.firstName }}</p>
    <p><strong>Apellido:</strong> {{ userData.lastName }}</p>
    <p><strong>Dirección:</strong> {{ userData.address }}</p>
  </div>

  <div class="profile-actions">
    <button class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>

    <!-- Mostrar botón solo si el usuario es ADMIN o SELLER -->
    <button *ngIf="showBackendButton" type="button" routerLink="/app/control-panel" class="btn btn-secondary">
      ADMIN PANEL
    </button>
  </div>
</div>
