<div class="login-container">
  <div class="text-center mb-4">
    <h1 class="login-title">Bienvenido</h1>
    <p class="text-muted">Inicia sesión para acceder al Backoffice</p>
  </div>

  <form [formGroup]="inicioForm" (ngSubmit)="autenticar()" class="d-flex flex-column gap-4">
    <div class="form-group">
      <label for="correo" class="form-label">Correo Electrónico</label>
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input type="email" formControlName="correo" id="correo" class="form-control" placeholder="Ingrese su correo">
      </div>
      <div *ngIf="inicioForm.get('correo')?.invalid && inicioForm.get('correo')?.touched" class="text-danger mt-1">
        <small>El correo es obligatorio y debe tener un formato válido.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="contrasena" class="form-label">Contraseña</label>
      <div class="input-container">
        <i class="fa fa-lock icon"></i>
        <input type="password" formControlName="contrasena" id="contrasena" class="form-control" placeholder="********">
      </div>
      <div *ngIf="inicioForm.get('contrasena')?.invalid && inicioForm.get('contrasena')?.touched" class="text-danger mt-1">
        <small>La contraseña debe tener al menos 8 caracteres.</small>
      </div>
    </div>

    <button type="submit" class="btn-login" [disabled]="inicioForm.invalid">
      <i class="bi bi-box-arrow-in-right"></i> Ingresar
    </button>
  </form>
</div>
<app-footer></app-footer>
