<div class="register-wrapper">
  <div class="register-header">
    <h2 class="register-title">Registrarme</h2>
  </div>
  <form method="post" [formGroup]="registerForm" (ngSubmit)="submit()">

    <!-- Campo de Usuario -->
    <div class="register-field">
      <label class="register-label">Usuario</label>
      <div class="input-container">
        <i class="bi bi-person icon"></i>
        <input class="register-input" type="text" placeholder="Camilo" formControlName="username">
      </div>
    </div>

<!-- Campo de Contraseña -->
<div class="register-field">
  <label class="register-label">Contraseña</label>
  <div class="input-container">
    <i class="bi bi-lock icon"></i>
    <input class="register-input" [type]="showPassword ? 'text' : 'password'" placeholder="*****" formControlName="password">
    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
  </div>

  <!-- Mensaje de error -->
  <small class="text-danger">
    La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
  </small>
</div>

    <!-- Selección de Rol -->
    <div class="register-field">
      <label class="register-label">Role en la aplicación</label>
      <select class="register-select" formControlName="roleName">
        <optgroup label="Seleccione una opción">
          <option value="">------</option>
          <option value="ADMIN">Administrador</option>
          <option value="CLIENT">Cliente</option>
          <option value="SELLER">Vendedor</option>
        </optgroup>
      </select>
    </div>

    <!-- Campo de Nombre -->
    <div class="register-field">
      <label class="register-label">Nombre</label>
      <div class="input-container">
        <i class="bi bi-person-circle icon"></i>
        <input class="register-input" type="text" placeholder="Juan" formControlName="firstName">
      </div>
    </div>

    <!-- Campo de Apellidos -->
    <div class="register-field">
      <label class="register-label">Apellidos</label>
      <div class="input-container">
        <i class="bi bi-people icon"></i>
        <input class="register-input" type="text" placeholder="Pérez López" formControlName="lastName">
      </div>
    </div>

    <!-- Campo de Dirección -->
    <div class="register-field">
      <label class="register-label">Dirección</label>
      <div class="input-container">
        <i class="bi bi-house icon"></i>
        <input class="register-input" type="text" placeholder="Calle Falsa 123" formControlName="address">
      </div>
    </div>

    <!-- Botón de Registro -->
    <div class="register-footer">
      <button type="submit" class="register-btn" [disabled]="registerForm.invalid">Finalizar registro</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
