<header class="row">
  <div class="col-4 logo-container">
      <img src="/public/profile.jpg" alt="logo">
  </div>
  <div class="col-4 nav-container">
    <nav>
      <a routerLink="/" rel="noopener">Inicio</a>
      <a routerLink="productos-cliente" rel="noospener">Tienda</a>
      <a class="cart-icon" (click)="openCart()">
        <i class="bi bi-cart"></i>
      </a>
    </nav>
  </div>

  <div class="col-4 text-end">
    <button type="button" class="btn-login" routerLink="/app/control-panel">
      <i class="bi bi-person"></i> Iniciar sesión
    </button>
  </div>
</header>

<app-cart></app-cart>
